body {
    background-color: #f0f2f6;
}
h1 {
    color: #4B87FC;
    font-weight: 700;
}
.stButton>button {
    background-color: #4B87FC;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
